*{
	background-color: lightgray;
}

#container{
	display: flex;
	justify-content: center;
}

#button-wrapper{
	display: flex;
	justify-content: center;
	margin: 10px;
}
.row{
	background-color: white;
	width:  2em;
	height: 2em;
	border: 1px solid black;
}

.row:hover{
	background-color: black;
}