#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    width: min-content;   
    margin: 10px auto;
    min-height: fit-content;
    max-height: 300px;
    border: 1px solid black;
}

.row{
    display: flex;
    height: 50px;
    max-width: 300px;
    box-sizing: border-box;
}

.column{
    height: auto;
    width: 50px;
    background-color: white;
    box-sizing: border-box;
}
